body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  padding: 10px;
}
.products-card {
  width: 50%;
  float: left;
}
.cart-card {
  margin-left: 50%;
}

.card-margin {
  margin: 10px;
}
